@page
@model PetPals.Pages.Reviews.CreateModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<h4 id="profileheader">Write a Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.Description" class="control-label"></label>
                <input asp-for="Review.Description" class="form-control" />
                <span asp-validation-for="Review.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <select asp-for="Review.Rating" class="form-control" required>
                    <option value="">-- Select Rating --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Review.CustomerID" class="form-control" value="@HttpContext.Session.GetString(PetPals.Areas.Identity.Pages.Account.LoginModel.SessionKeyCustomerID)" />
            </div>
            <div class="form-group">
                <label>Sitters Available</label>
                <select asp-for="Review.SitterID" class="form-control" asp-items="ViewBag.SitterID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" id="button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Customers/Index" id="profileheader" asp-route-id=@HttpContext.Session.GetString(PetPals.Areas.Identity.Pages.Account.LoginModel.SessionKeyCustomerID)>Profile</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
