@page
@model PetPals.Pages.Bookings.DeleteModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<h2 id="profileheader">Delete</h2>

<h3 id="profileheader">Are you sure you want to cancel this booking?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Cost
        </dt>
        <dd>
            £ @Html.DisplayFor(model => model.Booking.TotalCost)
        </dd>
        <dt>
            Sitter 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Sitter.FirstName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Booking.BookingID" />
        <input type="submit" value="Cancel" class="btn btn-default" id="button"/> |
        <a asp-page="./Booking" id="profileheader" asp-route-id="@HttpContext.Session.GetString(PetPals.Areas.Identity.Pages.Account.LoginModel.SessionKeyCustomerID)">Back to List</a>
    </form>
</div>
