@page
@model AboutModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "How It Works";
}
<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<h3><u><strong>4 Steps To Finding A Sitter</strong></u></h3>
<ol>
    <li>Find and book a sitter</li>
    <li>Enter the postcode or name of your area and provide the dates that want and you'll be connected with some pet sitters</li>
    <li>Each sitter has their own profile page were you can view their services, experince and skillsEach sitter has their own profile page were you can view their services, experince and skills</li>
    <li>Once the sitter has confirmed their availbilty you can proceed to make a booking and payment</li>
</ol>



