@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<p>Use this page to detail your site's privacy policy.</p>